body {
    font-family: 'tahoma', sans-serif;
    background: url('../images/laplai.jpg') repeat-x 0px 0px;
}
.container {
    width: 1000px;
}
/************************* header ****************************/
#header .container {
    width: 1244px;
}
#banner {
    background: url('../images/newheader2.png') no-repeat center;
    height: 169px;
}
/************************* contentContainer ****************************/
#contentContainer {
    padding: 20px 0 35px;
}
#logout {
    float: right;
    margin-bottom: 10px;
    margin-right: 6px;
    font-family: 'tahoma', sans-serif;
    font-style: italic;
    font-size: 18px;
    color: #0f77b9;
}
.navbar {
    margin-bottom: 20px;
}
.navbar-inner {
    background: none;
    border: none;
    box-shadow: none;
    min-height: 38px;
    padding: 0;
}
.navbar .navbar-inner {

    height: 38px;
    border-radius: 6px;
    margin: 0;
}
.navbar .navbar-inner .nav {
    margin: 0;
    width: 100%;
}
.navbar .navbar-inner .nav li {
    width: 247px;
    text-align: center;
    line-height: 38px;
    background: url('../images/menu_off.png') repeat-x;
}
.menuFirst, .menuFirst a {
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}
.menuLast, .menuLast a {
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}
.navbar .navbar-inner .nav li a {
    font-family: 'tahoma', sans-serif;
    font-size: 14px;
    color: #fff;
    text-shadow: none;
    padding: 0;
}
.navbar .navbar-inner .nav li.menuDivider {
    background: url('../images/line3.png') no-repeat center;
    width: 3px;
    height: 38px;
}
.navbar .navbar-inner .nav li a:hover, .navbar .navbar-inner .nav li.active a {
    background: url('../images/menu_on.png') repeat-x;
    box-shadow: none;
    color: #0072c2;
}
.navbar .navbar-inner .nav li:hover, .navbar .navbar-inner .nav li.active {
    background: url('../images/menu_on.png') repeat-x;
}
.navbar .navbar-inner .nav li#menuFamily:hover a, .navbar .navbar-inner .nav li#menuFamily.active a {
    background-image: url('../images/quan_ly_ho_gd_on.png')
}
.navbar .navbar-inner .nav li#menuSearch:hover a, .navbar .navbar-inner .nav li#menuSearch.active a {
    background-image: url('../images/tim_kiem_on.png')
}
.navbar .navbar-inner .nav li#menuReport:hover a, .navbar .navbar-inner .nav li#menuReport.active a {
    background-image: url('../images/bao_cao_thong_ke_on.png')
}
.navbar .navbar-inner .nav li#menuUser:hover a, .navbar .navbar-inner .nav li#menuUser.active a {
    background-image: url('../images/quan_ly_nguoi_dung_on.png')
}
#menuFamily a {
    background: url('../images/quan_ly_ho_gd_off.png') no-repeat 15px 10px;
}
#menuSearch a {
    background: url('../images/tim_kiem_off.png') no-repeat 60px 10px;
}
#menuReport a {
    background: url('../images/bao_cao_thong_ke_off.png') no-repeat 20px 10px;
}
#menuUser a {
    background: url('../images/quan_ly_nguoi_dung_off.png') no-repeat 20px 10px;
}
.navbar .nav li.dropdown.open > .dropdown-toggle, .navbar .nav li.dropdown.active > .dropdown-toggle, .navbar .nav li.dropdown.open.active > .dropdown-toggle {
    color: #0072c2;
}
.navbar .navbar-inner .nav .dropdown-menu {
    border: none !important;
    background: rgba(0,0,0,0.6);
    border-radius: 0;
    margin: 0;
    margin-top: -1px;
}
.navbar .navbar-inner .nav .dropdown-menu li {
    background: none;
}
.navbar .navbar-inner .nav .dropdown-menu li a {
    font-family: 'tahoma', sans-serif;
    font-size: 16px;
    color: #cccccc;
    background: none !important;
    line-height: 30px;
}
.navbar .navbar-inner .nav .dropdown-menu li a:hover{
    color: #87ceff;
}
.navbar .nav > li > .dropdown-menu:after, .navbar .nav > li > .dropdown-menu:before {
    border: none;
}
.navbar .navbar-inner .nav .dropdown-menu li.subMenuDivider {
    background: url('../images/sub_menu.png') no-repeat transparent center;
    height: 2px;
}

.form-horizontal .control-label {
    width: 300px
}
.form-horizontal .controls {
    margin-left: 320px
}
.form-horizontal .form-actions {
    padding-left: 320px
}
ul.errorlist {
    list-style: none;
}
ul.errorlist li {
    color: red
}
ul {
    list-style: none;
    margin: 5px 0px 0px 0px;
}
/************************* Footer ****************************/
#footer {
    font-size: 14pt;
    color: #828282;
    padding-top: 35px;
    border-top: 1px solid #838383;
}
#footer p span {
    color: #626262;
}
#footer a {
    color: #066aa3;
}
#footer .span4 .span8 {
    padding-top: 30px;
}
a:hover {
    text-decoration: none
}

/************************* Pagination ****************************/
.pagination{
  padding-bottom: 10px;
  padding-left: 24px;
}
.pagination .step-links a{
  display: block;
  float: left;
  border: 1px solid #838383;
  height: 20px;
  width: 20px;
  text-align: center;
  color: #434343;
  margin-right: 4px;
}
.pagination .step-links a.previous_page{
  background: url('/media/images/back-icon.png') no-repeat 5px 4px;
}
.pagination .step-links a.next_page{
  background: url('/media/images/next-icon.png') no-repeat 7px 4px;
}
.pagination .step-links a:hover, .pagination .step-links a.currentPage{
  background: #141414;
  color: white;
}
.pagination .step-links a.previous_page:hover{
  background: #141414 url('/media/images/back-hover.png') no-repeat 5px 4px;
}
.pagination .step-links a.next_page:hover{
  background: #141414 url('/media/images/next-hover.png') no-repeat 7px 4px;
}

/************************* Button style ****************************/
.button, .tableMenu .form-inline button{
    background: url('/media/images/icon_bg_off.png') repeat-x;
    border-left: 1px solid #a6a6a6;
    border-right: 1px solid #a6a6a6;
    font-size: 14px;
    font-style: normal;
    color: #646464;
    font-family: 'tahoma', sans-serif;
    padding: 8px 10px 4px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    float:left;
    cursor: pointer;
    text-shadow: 1px 1px 1px white;
  }
  .button:hover, .tableMenu .form-inline button:hover{
    background: url('/media/images/icon_bg_on.png') repeat-x;
    color:#004b7c;
    border-left: 1px solid #028de8;
    border-right: 1px solid #028de8;
    text-decoration: none;
  }
  .button .edit {
    background: url('/media/images/sua_off.png') no-repeat;
    padding-left:25px;
    width:70px;
    height: 20px;
    line-height: 17px;
  }
  .button .add{
    background-image: url('/media/images/them_off.png');
    width: 60px;
  }
  .button .delete{
    background-image: url('/media/images/xoa_off.png');
    width: 50px;
  }
  .button:hover .edit {
    background: url('/media/images/sua_on.png') no-repeat;
  }
  .button:hover .add {
    background-image: url('/media/images/them_on.png');
  }
  .button:hover .delete {
    background-image: url('/media/images/xoa_on.png');
  }
  .button .print {
    background: url('/media/images/in_off.png') no-repeat;
    padding-left:25px;
    width:20px;
    height: 20px;
    line-height: 13px;
  }
  .button:hover .print {
    background: url('/media/images/in_on.png') no-repeat;
  }

/************************* Table style ****************************/
.member_table table {
    width:100%;
    margin-top: 20px;
    font-family: 'tahoma', sans-serif;
    text-align: center;
    font-size: 14px;
    color: #434343;
  }
  .member_table table td{
    padding: 8px 2px;
    border: 1px solid #838383;
    cursor: pointer
  }
  .member_table table thead{
    width: 100%;
    background-color: #9bd6ff;
    font-family: 'tahoma', sans-serif;
    font-size: 14px;
    color: #2e2e2e;
    font-weight: 100;
    margin-bottom: 10px
  }
  .member_table table thead th{
    padding: 5px 2px;
    border: 1px solid #2791d9;
    font-weight: normal;
  }
  .actions {
    float: right;
    margin: 30px 0px;
  }
  .tableMenu{
    border-top: 1px solid #838383;
    border-bottom: 1px solid #838383;
    margin: 50px 0 30px;
    padding: 10px 0;
  }
  .no-bg{
    background: white !important;
  }
  .member_table table tbody tr:hover{
      background: #fff9c7 !important;
    }
    
/************************* Note style ****************************/
.notes {
    margin: 0px 0px 30px 0px;
    color: #dc5555;
    font-family: 'tahoma', sans-serif;
    font-style: italic;
    line-height: 14px
}
.notes .header{
    border-bottom: 1px solid #838383;
    min-height: 25px;
    margin-top: 40px
}
.notes .note{
    padding-top: 15px;
}
#hogiadinh div, #hogiadinh span {
    margin-left: 0px
}
.notes .note .field{
    font-family: 'tahoma', sans-serif;
}
.notes .note span{
    min-height: 20px
}
.note .field {
    margin-left: 0px;
}
#hogiadinh .line1{
        font-family: 'tahoma', sans-serif;
        font-size: 24px;
        color: #969696;
        text-align: center;
        margin:auto;
}
#hogiadinh .black {
        color: #252525
    }
#hogiadinh .line2 {
        color: #4c4c4c
}
#hogiadinh .info {
        margin: 50px 0px;
        font-family: 'tahoma', sans-serif;
        font-size: 18px;
        color: #6b6b6b;
        line-height: 30px
}
#hogiadinh .info .field {
        color: #141414;
        font-family: 'tahoma', sans-serif;
        margin-left: 0px;
}

/************************* Printable ****************************/
#header, #underBanner, #suahogiadinh, .no-bg, #hogiadinh .actions, #footer{
    display: none;
}
#bacaoheader{
    display: block;
}