{% extends "base.html" %}
{% load xuanha_tag %}
{% block style_extend %}
  <style type="text/css">
    #searchBox{
      margin-bottom: 40px;
    }
    #searchBox h1{
      font-family: 'tahoma', sans-serif;
      font-size: 24px;
      color: #969696;
      text-align: center;
      margin:auto;
      font-weight: normal;
    }
    .button, .tableMenu .form-inline button{
      float:right;
      margin-bottom: 15px;
    }
  </style>
{% endblock %}
{% block content %}
  <div class="span12">  
    <div id="searchBox" class="container">
      <h1>DANH SÁCH ĐỐI TƯỢNG BẢO TRỢ</h1>
      <a href="/xuatdanhsachdoituongbaotro"><span class="button"><div class="print">In</div></span></a>
      <div class="container member_table">
        <table>
          <thead>
            <tr>
              <th rowspan="2">Họ tên</th>
              <th rowspan="2">Hộ</th>
              <th rowspan="2">Ng.sinh</th>
              <th rowspan="2">G.Tính</th>
              <th rowspan="2">Số CMND</th>
              <th rowspan="2">Q.Quán</th>
              <th rowspan="2">BĐXN</th>
              <th rowspan="2">BTXH</th>
              <th colspan="4">Đối tượng</th>
              <th rowspan="2">Trình độ</th>
              <th rowspan="2">Ch.môn</th>
              <th rowspan="2">TTHN</th>
              <th rowspan="2">Tôn giáo</th>
              <th rowspan="2">Dân tộc</th>
            </tr>
            <tr>
              <th>CS</th>
              <th>XT</th>
              <th>KT</th>
              <th>BH</th>
            </tr>
          </thead>
          <tr style="border: none">
            <td colspan="17" style="border: none"></td>
          </tr>
          {% for member in thanhvien %}
          <tr>
            <td>{{member.hotenthanhvien}}</td>
            <td>{{member.hogiadinh.masoho}}</td>
            <td>{{member.ngaysinh|date:"d/m/Y"}}</td>
            <td>{{member.gioitinh}}</td>
            <td>{{member.cmnd}}</td>
            <td>{{member.quequan}}</td>
            <td><input type="checkbox" {%if member.thuocdoituongbodoixuatngu %} checked="checked" {% endif %} disabled="true"/></td>
            <td>{{member.thuocdoituongbaotro}}</td>
            <td><input type="checkbox" {%if member.thuocdoituongchinhsach %} checked="checked" {% endif %} disabled="true"/></td>
            <td><input type="checkbox" {%if member.thuocdoituongxichlo %} checked="checked" {% endif %} disabled="true"/></td>
            <td><input type="checkbox" {%if member.thuocdoituongkhuyetat %} checked="checked" {% endif %} disabled="true"/></td>
            <td><input type="checkbox" {%if member.cobaohiem %} checked="checked" {% endif %} disabled="true"/></td>
            <td>{{member.trinhdo}}</td>
            <td>{{member.chuyenmon}}</td>
            <td>{{member.tinhtranghonnhan}}</td>
            <td>{{member.tongiao}}</td>
            <td>{{member.dantoc}}</td>
          </tr>
          {% endfor %}
        </table>
        <p>{{message}}</p>
        <div class="pagination">
          <span class="step-links">
              {% if thanhvien.has_previous %}
                  <a href="?page={{ chuho.previous_page_number }}" class="previous_page"></a>
              {% endif %}
              {% if thanhvien.number|previous_three_page > 0 %}
                <span style="float: left; margin-right: 4px;">...</span>
              {% endif %}
              {% for page in thanhvien.paginator.page_range %}
                {% if page > thanhvien.number|previous_three_page and page < thanhvien.number|next_three_page %}
                <a href="?page={{ page }}" {% if page == thanhvien.number %}class="currentPage" {% endif %}>{{ page }}</a>
                {% endif %}
              {% endfor %}
              {% if thanhvien.number|next_three_page <=  thanhvien.paginator.num_pages %}
                <span style="float: left; margin-right: 4px;">...</span>
              {% endif %}
              {% if thanhvien.has_next %}
                  <a href="?page={{ thanhvien.next_page_number }}" class="next_page"></a>
              {% endif %}
          </span>
        </div>
      </div>
      <div class="container notes">
        <div class="span6 header">
          *Chú thích
        </div>
        <div class="span9 note">
          <span class="span8">
            <span class="span3 field">(GCN QSDĐ)</span><span class="span9">Giấy chứng nhận quyền sở hữu đất</span>
            <span class="span3 field">(Ng.sinh)</span><span class="span9">Ngày sinh</span>
            <span class="span3 field">(G.tinh)</span><span class="span9">Giới tính</span>
            <span class="span3 field">(Qh với c.h)</span><span class="span9">Quan hệ với chủ hộ</span>
            <span class="span3 field">(BĐXN)</span><span class="span9">Bộ đội xuất ngũ</span>
            <span class="span3 field">(BTXH)</span><span class="span9">Bảo trợ xã hội</span>
          </span>
          <span class="span4">
            <span class="span4 field">(CS)</span><span class="span8">Chính sách</span>
            <span class="span4 field">(XT)</span><span class="span8">Xe thồ</span>
            <span class="span4 field">(KT)</span><span class="span8">Khuyết tật</span>
            <span class="span4 field">(BH)</span><span class="span8">Bảo hiểm</span>
            <span class="span4 field">(Ch.môn)</span><span class="span8">Chuyên môn</span>
            <span class="span4 field">(TNHN)</span><span class="span8">Tình trạng hôn nhân</span>
          </span>
        </div>
      </div>
    </div>
  </div>
{% endblock %}