{% extends "base.html" %}
{% load xuanha_tag %}
{% block style_extend %}
<style type="text/css">
    #searchBox{
      margin-bottom: 40px;
    }
    #searchBox h1{
      font-family: 'tahoma', sans-serif;
      font-size: 24px;
      color: #969696;
      text-align: center;
      margin:auto;
      font-weight: normal;
    }
    .button, .tableMenu .form-inline button{
      float:right;
      margin-bottom: 15px;
    }
  </style>
{% endblock %}
{% block content %}
<div id="searchBox" class="container">
  <h1>DANH SÁCH CÁC HỘ NGHÈO, CẬN NGHÈO, ĐẶC BIỆT NGHÈO</h1>
  <a href="/xuatdanhsachhongheo"><span class="button"><div class="print">In</div></span></a>
  <div class="member_table container">
    <table>
      <thead>
        <tr>
          <th rowspan="1" style="border: none" class="no-bg"></th>
          <th rowspan="1">Mã số hộ</th>
          <th rowspan="1">TDP</th>
          <th rowspan="1">Tên chủ hộ</th>
          <th rowspan="1">Ngày sinh</th>
          <th rowspan="1">G.tính</th>
          <th rowspan="1">Địa chỉ</th>
          <th rowspan="1">Số ĐT</th>
          <th rowspan="1">TT.Cư trú</th>
          <th rowspan="1">Hộ nghèo</th>
          <th rowspan="1">Hộ CS</th>
          <th rowspan="1">Hộ BTXH</th>
        </tr>
      </thead>
      <tbody>
        <tr style="border: none">
          <td colspan="17" style="border: none"></td>
        </tr>
        {% for ho in hogiadinh %}
        <tr>
          <td style="border: none" class="no-bg">
          	<input type="checkbox" value="{{ho.id}}" class="checkbox" name="masoho"/>
          </td>
          <td class="masoho thongtinhogiadinh">{{ho.masoho}}</td>
          <td class="thongtinhogiadinh">{{ho.todanpho}}</td>
          <td class="thongtinhogiadinh">{{ho.tenchuho}}</td>
          <td class="thongtinhogiadinh">{{ho.ngaysinh}}</td>
          <td class="thongtinhogiadinh">{{ho.gioitinh}}</td>
          <td class="thongtinhogiadinh">{{ho.sonha}}</td>
          <td class="thongtinhogiadinh">{{ho.sodienthoai}}</td>
          <td class="thongtinhogiadinh">{{ho.tinhtrangcutru}}</td>
          <td class="thongtinhogiadinh">{{ ho.thuochongheo }}</td>
          <td class="thongtinhogiadinh"><input type="checkbox" {%if ho.thuochochinhsach %} checked="checked" {% endif %} disabled="disabled"/></td>
          <td class="thongtinhogiadinh"><input type="checkbox" {%if ho.thuocdoituongbaotro %} checked="checked" {% endif %} disabled="disabled"/></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <p>{{message}}</p>
    <div class="pagination">
        <span class="step-links">
            {% if hogiadinh.has_previous %}
                <a href="?page={{ hogiadinh.previous_page_number }}" class="previous_page"></a>
            {% endif %}
            {% if hogiadinh.number|previous_three_page > 0 %}
              <span style="float: left; margin-right: 4px;">...</span>
            {% endif %}
            {% for page in hogiadinh.paginator.page_range %}
              {% if page > hogiadinh.number|previous_three_page and page < hogiadinh.number|next_three_page %}
              <a href="?page={{ page }}" {% if page == hogiadinh.number %}class="currentPage" {% endif %}>{{ page }}</a>
              {% endif %}
            {% endfor %}
            {% if hogiadinh.number|next_three_page <=  hogiadinh.paginator.num_pages %}
              <span style="float: left; margin-right: 4px;">...</span>
            {% endif %}
            {% if hogiadinh.has_next %}
                <a href="?page={{ hogiadinh.next_page_number }}" class="next_page"></a>
            {% endif %}
        </span>
    </div>
  </div>
<div class="container notes">
    <div class="span6 header">
      *Chú thích
    </div>
    <div class="span9 note">
      <span class="span8"> <span class="span3 field">(GCN QSDĐ)</span><span class="span9">Giấy chứng nhận quyền sở hữu đất</span> <span class="span3 field">(Ng.sinh)</span><span class="span9">Ngày sinh</span> <span class="span3 field">(G.tinh)</span><span class="span9">Giới tính</span> <span class="span3 field">(Qh với c.h)</span><span class="span9">Quan hệ với chủ hộ</span> <span class="span3 field">(BĐXN)</span><span class="span9">Bộ đội xuất ngũ</span> <span class="span3 field">(BTXH)</span><span class="span9">Bảo trợ xã hội</span> </span>
      <span class="span4"> <span class="span4 field">(CS)</span><span class="span8">Chính sách</span> <span class="span4 field">(XT)</span><span class="span8">Xe thồ</span> <span class="span4 field">(KT)</span><span class="span8">Khuyết tật</span> <span class="span4 field">(BH)</span><span class="span8">Bảo hiểm</span> <span class="span4 field">(Ch.môn)</span><span class="span8">Chuyên môn</span> <span class="span4 field">(TNHN)</span><span class="span8">Tình trạng hôn nhân</span> </span>
    </div>
  </div>
</div>
<script type="text/javascript">
  $(document).ready(function(){
    $('.thongtinhogiadinh').click(function(){
      masoho = $(this).parent('tr').children('.masoho').text();
      document.location.href = '/hogiadinh/' + masoho;
    });
  });
</script>
{% endblock %}
