<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/jquery-ui-1.10.3.custom.min.css" type="text/css"></style>
    <link rel="stylesheet" href="{{ MEDIA_URL }}bootstrap/css/bootstrap.min.css" type="text/css"></style>
    <link rel="stylesheet" href="{{ MEDIA_URL }}bootstrap/css/datepicker.css" type="text/css"></style>
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/style.css" type="text/css" media="screen"></style>
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/print.css" type="text/css" media="print"></style>
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/messages.css" type="text/css"></style>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.min.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery-ui-1.10.3.custom.min.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}bootstrap/js/bootstrap.min.js"></script>
    {% block style_extend %}
    {% endblock %}
  </head>
  <div id="wrapper">
    <div id="header">
      <div id="banner" class="container">
      </div>
    </div>
    <div id="contentContainer" class="container">
      <div class="row-fluid" id="underBanner">
        <div class="navbar">
          <div class="navbar-inner">
            <ul class="nav">
              <li id="menuFamily" class="{{hoPage}} dropdown menuFirst">
                <a class="dropdown-toggle" id="dLabel" role="button" data-toggle="dropdown" data-target="#" href="#">
                  QUẢN LÝ HỘ GIA ĐÌNH
                </a>
                <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="/">Hộ gia đình</a></li>
                  <li class="subMenuDivider"></li>
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="/nhapxls">Nhập Excel</a></li>
                </ul>
              </li>
              <li class="menuDivider"></li>
              <li id="menuSearch" class="{{timkiemPage}} dropdown">
                <a class="dropdown-toggle" id="dLabel" role="button" data-toggle="dropdown" data-target="#" href="#">
                  TÌM KIẾM
                </a>
                <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="/timkiemhogiadinh">Tìm kiếm hộ gia đình</a></li>
                  <li class="subMenuDivider"></li>
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="/timkiemthanhvien">Tìm kiếm thành viên</a></li>
                </ul>
              </li>
              <li class="menuDivider"></li>
              <li id="menuReport" class="{{baocaoPage}} dropdown"> 
                <a class="dropdown-toggle" id="dLabel" role="button" data-toggle="dropdown" data-target="#" href="#">
                  BÁO CÁO-THỐNG KÊ
                </a>
                <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="/danhsachchuho">Chủ hộ gia đình</a></li>
                  <li class="subMenuDivider"></li>
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="/danhsachhogiadinh">Các hộ gia đình</a></li>
                  <li class="subMenuDivider"></li>
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="/danhsachthuongbenhbinh">Thương binh, bệnh binh</a></li>
                  <li class="subMenuDivider"></li>
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="/danhsachhongheo">Hộ nghèo</a></li>
                  <li class="subMenuDivider"></li>
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="/danhsachtreemduoi6">Trẻ em dưới 6 tuổi</a></li>
                  <li class="subMenuDivider"></li>
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="/danhsachdoituongchinhsach">Đối tượng chính sách</a></li>
                  <li class="subMenuDivider"></li>
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="/danhsachdoituongbaotro">Đối tượng bảo trợ</a></li>
                  <li class="subMenuDivider"></li>
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="/danhsachdoituongbodoixuatngu">Đối tượng bộ đội xuất ngũ</a></li>
                </ul>
              </li>
              <li class="menuDivider"></li>
              <li id="menuUser" class="{{quanlyPage}} dropdown">
              	<a class="dropdown-toggle" id="dLabel" role="button" data-toggle="dropdown" data-target="#" href="#">
                  QUẢN LÝ NGƯỜI DÙNG
                </a>
              	
              	<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="/nguoidung">Người dùng</a></li>
                  <li class="subMenuDivider"></li>
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="/phanquyen">Phân quyền</a></li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
        {% if request.user.is_authenticated %}
          <span style="float:right" id="logout"> <a href="/taikhoan">{{user.get_profile.tennguoidung}}</a>. <a href="/dangxuat" >Thoát ra</a> </span>
        {% else %}
          <div style="margin-top: 30px"></div>
        {% endif %}
      </div>
      <!-- End navigation -->
      <div class="row-fluid" id="mainContent">
        {% block content %}
        {% endblock %}
      </div>
      <div class="row-fluid" id="footer">
        <div class="span8">
          <p>Copyright UBND Phường Xuân Hà. All right reserved.</p>
          <p>Phone: <span>0511.3714644</span> - Fax: <span>0511.3725676</span> - Hot line: <span>0905.109990</span></p>
          <p>Email: xuanhaqtk@danang.gov.vn</p>
        </div>
        <div class="span4">
          <div class="row-fluid">
            <div class="span4"></div>
            <div class="span8">Design by <a href="http://htk-inc.com/" target="_blank">HTK-INC</a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</html>