{% extends "base.html" %}
{% block style_extend %}
<style type="text/css">
  #hogiadinh {
    margin: 30px 0px;
  }
  #hogiadinh .info input {
    margin-top: 10px
  }
  #hogiadinh .info .field{
    clear: both;
  }
  #hogiadinh .actions {
    float: right;
    margin: 30px 0px 0px;
  }
  .button {
    float:right;
  }
  #bacaoheader{
    border: 1px solid #838383;
    margin-bottom: 40px;
    width: 998px;
  }
  #bacaoheader div{
    float: left;
    text-align: center;
    font-weight: bold;
  }
  #bacaoheader div#baocaheaderright{
    border-left: 1px solid #838383;
  }
  #bacaoheader div p{
    margin-bottom: 0;
  }
  #bacaoheader div p.date{
    margin-top: 15px;
    font-style: italic;
    font-weight: normal;
  }
  .border{
    height: 1px;
    border-bottom: 1px solid #838383;
  }
  #baocaheaderleft .border{
    margin-left: 124px;
    width: 70px;
  }
  #baocaheaderright .border{
    margin-left: 230px;
    width: 200px;
  }
</style>
{% endblock %}
{% block content %}
<div id="hogiadinh">
  <div class="container" id="bacaoheader">
    <div id="baocaheaderleft" class="span4">
      <p>ỦY BAN NHÂN DÂN</p>
      <p>PHƯỜNG XUÂN HÀ</p>
      <p class="border"></p>
    </div>
    <div id="baocaheaderright" class="span8">
      <p>CỘNG HÒA XÃ HỘI CHỦ NGHĨA VIỆT NAM</p>
      <p>Độc lập – Tự do – Hạnh phúc</p>
      <p class="border"></p>
      <p class="date">Xuân Hà, ngày  &nbsp;&nbsp;&nbsp;  tháng  &nbsp;&nbsp;&nbsp; năm 201</p>
    </div>
  </div>
  <div class="line1">
    THÔNG TIN HỘ GIA ĐÌNH ÔNG (BÀ) <span class="black">{{chuho.hotenthanhvien|upper}}</span>
    <br><br>
    <span class="line2">Mã số hộ: {{hogiadinh.masoho}}</span>
  </div>
  <div class="container info">
    <div class="span6">
      <span class="span4 field">Tên chủ hộ:</span><span class="span8">{{chuho.hotenthanhvien}}</span>
      <span class="span4 field">Ngày sinh:</span><span class="span8">{{chuho.ngaysinh|date:"d/m/Y"}}</span>
      <span class="span4 field">Giới tính:</span><span class="span8">{{chuho.gioitinh}}</span>
      <span class="span4 field">Số CMND:</span><span class="span8">{{chuho.cmnd}}</span>
      <span class="span4 field">Địa chỉ:</span><span class="span8">{{hogiadinh.sonha}}</span>
      <span class="span4 field">Tổ dân phố:</span><span class="span8">{{hogiadinh.todanpho}}</span>
      <span class="span4 field">Số điện thoại:</span><span class="span8">{{hogiadinh.sodienthoai}}</span>
    </div>
    <div class="span6">
      <span class="span5 field">Tình trạng cư trú:</span><span class="span7">{{hogiadinh.tinhtrangcutru}}</span>
      <span class="span5 field">Thuộc diện hộ:</span>
      <span class="span7">
        {{hogiadinh.thuochongheo }}
      </span>
      <span class="span5 field">Hộ có đối tượng CS:</span>
      <span class="span7">
        <input type="checkbox" disabled="disabled" {%if hogiadinh.thuochochinhsach %} checked="checked" {% endif %}/>
      </span>
      <span class="span5 field">Hộ có đối tượng BTXH:</span>
      <span class="span7">
        <input type="checkbox" disabled="disabled" {%if hogiadinh.thuochocodoituongbaotro %} checked="checked" {% endif %}/>
      </span>
      <span class="span5 field">GCN QSDD:</span>
      <span class="span7">
        {{hogiadinh.cogiaychungnhanquyensdd}}
      </span>
      <span class="span5 field">Tên thuế hàng năm:</span><span class="span7">{{hogiadinh.tienthue}}</span>
    </div>
  </div>
  <div class="container" id="suahogiadinh">
    <div class="span2" style="float: right">
      <a href="/suahogiadinh/{{hogiadinh.masoho}}">
        <span class="button" style="margin-right: 0px">
          <div class="edit">Chỉnh sửa</div>
        </span>
      </a>
    </div>
  </div>
  <div class="container member_table">
    <span class="line1">DANH SÁCH THÀNH VIÊN</span><br>
    <form action="" method="post" id="main_form">{% csrf_token %}
    <table>
      <thead>
        <tr>
          <th rowspan="2" style="border: none" class="no-bg"></th>
          <th rowspan="2">Họ tên</th>
          <th rowspan="2">Ng.sinh</th>
          <th rowspan="2">G.Tính</th>
          <th rowspan="2">Số CMND</th>
          <th rowspan="2">Q.Quán</th>
          <th rowspan="2">Qh với c.h</th>
          <th rowspan="2">BĐXN</th>
          <th colspan="5">Đối tượng</th>
          <th rowspan="2">Trình độ</th>
          <th rowspan="2">Ch.môn</th>
          <th rowspan="2">TTHN</th>
          <th rowspan="2">Tôn giáo</th>
          <th rowspan="2">Dân tộc</th>
        </tr>
        <tr>
          <th>BTXH</th>
          <th>CS</th>
          <th>XT</th>
          <th>KT</th>
          <th>BH</th>
        </tr>
      </thead>
      <tr style="border: none">
        <td colspan="17" style="border: none"></td>
      </tr>
      {% for member in hogiadinh.thanhvien_set.all %}
      <tr>
        <td style="border: none" class="no-bg"><span style="display: none">{{member.id}}</span>
          <input type="checkbox" class="checkbox" name="member_id" value="{{member.id}}"/></td>
        <td>{{member.hotenthanhvien}}</td>
        <td>{{member.ngaysinh|date:"d/m/Y"}}</td>
        <td>{{member.gioitinh}}</td>
        <td>{{member.cmnd}}</td>
        <td>{{member.quequan}}</td>
        <td>{{member.quanhevoichuho}}</td>
        <td><input type="checkbox" disabled="disabled" {%if member.thuocdoituongbodoixuatngu %} checked="checked" {% endif %}/></td>
        <td align="left">
          <ul>
            {% for baotro in member.thuocdoituongbaotro_as_list%}
              {% if forloop.last %}
              {% else %}
                <li> <input type="checkbox" disabled="disabled" checked="checked" /> {{baotro}}</li>
              {% endif %}
            {% endfor %}
          </ul>
        </td>
        <td align="left">
          <ul>
            {% for chinhsach in member.thuocdoituongchinhsach_as_list%}
              {% if forloop.last %}
              {% else %}
                <li> <input type="checkbox" disabled="disabled" checked="checked" /> {{chinhsach}}</li>
              {% endif %}
            {% endfor %}
          </ul>
        </td>
        <td><input type="checkbox" disabled="disabled" {%if member.thuocdoituongxichlo %} checked="checked" {% endif %}/></td>
        <td>{{member.thuocdoituongkhuyetat}}</td>
        <td><input type="checkbox" disabled="disabled" {%if member.cobaohiem %} checked="checked" {% endif %}/></td>
        <td>{{member.trinhdo}}</td>
        <td>{{member.chuyenmon}}</td>
        <td>{{member.tinhtranghonnhan}}</td>
        <td>{{member.tongiao}}</td>
        <td>{{member.dantoc}}</td>
      </tr>
      {% endfor %}
    </table>
    </form>
  </div>
  <div class="container notes">
    <div class="span6 header">
      *Chú thích
    </div>
    <div class="span6 actions">
      <span class="button" onclick="javascript:window.print()"><div class="print">In</div></span>
      <span class="button btn-delete" style="margin-right: 15px; display: none;" data-toggle="modal" data-target="#memberModal"><div class="edit delete">Xóa</div></span>
      <span class="virtual-delete button" style="margin-right: 15px; opacity: 0.7;"><div class="edit delete">Xóa</div></span>
      <a href="#" class="btn-edit"><span class="button" style="margin-right: 15px; display: none;"><div class="edit">Chỉnh sửa</div></span></a>
      <span class="virtual-edit button" style="margin-right: 15px; opacity: 0.7;"><div class="edit">Chỉnh sửa</div></span>
      <a href="/themthanhvien/{{hogiadinh.masoho}}"><span class="button" style="margin-right: 15px"><div class="edit add">Thêm</div></span></a>
    </div>
    <div class="span9 note">
      <span class="span8">
        <span class="span3 field">(GCN QSDĐ)</span><span class="span9">Giấy chứng nhận quyền sở hữu đất</span>
        <span class="span3 field">(Ng.sinh)</span><span class="span9">Ngày sinh</span>
        <span class="span3 field">(G.tinh)</span><span class="span9">Giới tính</span>
        <span class="span3 field">(Qh với c.h)</span><span class="span9">Quan hệ với chủ hộ</span>
        <span class="span3 field">(BĐXN)</span><span class="span9">Bộ đội xuất ngũ</span>
        <span class="span3 field">(BTXH)</span><span class="span9">Bảo trợ xã hội</span>
      </span>
      <span class="span4">
        <span class="span4 field">(CS)</span><span class="span8">Chính sách</span>
        <span class="span4 field">(XT)</span><span class="span8">Xe thồ</span>
        <span class="span4 field">(KT)</span><span class="span8">Khuyết tật</span>
        <span class="span4 field">(BH)</span><span class="span8">Bảo hiểm</span>
        <span class="span4 field">(Ch.môn)</span><span class="span8">Chuyên môn</span>
        <span class="span4 field">(TNHN)</span><span class="span8">Tình trạng hôn nhân</span>
      </span>
    </div>
  </div>
</div>
<div id="memberModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <form action="." method="post">{% csrf_token %}
    <input type="hidden" name="user_id" id="user_id"/>
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h3 id="myModalLabel">Xóa thành viên trong gia đình</h3>
    </div>
    <div class="modal-body">
      <p>Bạn có muốn xóa thành viên trong gia đình này không?</p>
    </div>
    <div class="modal-footer">
      <button class="btn" data-dismiss="modal" aria-hidden="true">Không đồng ý</button>
      <button type="button" value="delete" class="btn btn-primary" id="btn_delete">Đồng ý</button>
    </div>
  </form>
</div>
<script type="text/javascript">
  $(document).ready(function(){
    $('.checkbox').click(function(){
      displayButton();
    });
    $('#btn_delete').click(function() {
      $('#main_form').submit()
    })
  });
  function numChecked(){
    numCheck = 0;
    $('.checkbox').each(function(){
      if($(this).is(':checked')){
        numCheck = numCheck + 1;
      }
    });
    return numCheck;
  }
  function setLinkEdit(){
    $('.checkbox').each(function(){
      if($(this).is(':checked')){
        link = '/suathanhvien/' + $(this).parent('td').children('span').text();
        $('.btn-edit').attr('href',link);
      }
    });
  }
  function displayButton(){
    var numcheck = numChecked();
    if(numcheck == 1 ){
      $('.btn-edit span').show();
      $('.virtual-edit').hide();
      setLinkEdit();
    }
    else{
      $('.btn-edit span').hide();
      $('.virtual-edit').show();
    }
    
    if(numcheck > 0 ){
      $('.btn-delete').show();
      $('.virtual-delete').hide();
    }
    else{
      $('.btn-delete').hide();
      $('.virtual-delete').show();
    }
  }
</script>
{% endblock %}