{% extends "base.html" %}
{% load xuanha_tag %}
{% block style_extend %}
<style type="text/css">
  #hogiadinh {
    margin: 30px 0px;
  }
  #hogiadinh .line1{
    font-family: 'tahoma', sans-serif;
    font-size: 24px;
    color: #969696;
    text-align: center;
    margin:auto;
  }
  #hogiadinh .black {
    color: #252525
  }
  .tableMenu .checkboxAll{
    float: left;
    margin-right: 8px;
    margin-top: 10px;
  }
  .tableMenu .form-inline{
    float: left;
    margin: 0;
  }
  .tableMenu .form-inline input{
      font-family: 'tahoma', sans-serif;
      font-size: 14px;
      color: #696969;
      height: 32px;
      width: 240px;
      border: 1px solid #ababab;
      border-right: none;
      float: left;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
    .tableMenu .form-inline input.small{
      width: 140px;
      border-radius: 4px;
      margin-right: 4px;
      border: 1px solid #ababab;
    }
    .tableMenu .form-inline button{
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      padding: 0;
      line-height: 32px;
      margin: 0;
      text-align: center;
      width: 70px;
      border-top: none;
      border-bottom: none;
    }
</style>
{% endblock %}
{% block content %}
<div id="hogiadinh">
  <div class="line1">
   DANH SÁCH CÁC HỘ GIA ĐÌNH TRÊN ĐỊA BÀN PHƯỜNG
  </div>
  <div class="tableMenu row-fluid">
    <div class="span12">
      <input type="checkbox" class="checkboxAll"/>
      <a href="/themhogiadinh"><span class="button" style="margin-right: 15px"><div class="edit add">Thêm</div></span></a>
      <a href="#" class="btn-edit"><span class="button" style="margin-right: 15px; display: none;"><div class="edit">Chỉnh sửa</div></span></a>
      <span class="virtual-edit button" style="margin-right: 15px; opacity: 0.7;"><div class="edit">Chỉnh sửa</div></span>
      <span class="button btn-delete" style="margin-right: 15px; display: none;" data-toggle="modal" data-target="#familyModal"><div class="edit delete">Xóa</div></span>
      <span class="virtual-delete button" style="margin-right: 15px; opacity: 0.7;"><div class="edit delete">Xóa</div></span>
      <div style="float: right">
        <form class="form-inline" method="get" style="margin-right: 15px;">
          {% csrf_token %} {# enctype="multipart/form-data" #}{# Please ignore the csrf_token at the moment #} 
          <input type="text" class="small" placeholder="Mã số hộ" id="search_masoho" name="search_masoho">
          <input type="text" class="" placeholder="Nhập tên chủ hộ" name="search_chuho">
          <button type="submit">Tìm</button>
        </form>
        <a href="/xuatdanhsachhogiadinh"><span class="button"><div class="print">In</div></span></a>
      </div>
    </div>
  </div>
  <div class="member_table">
  	<form action="." method="post" id="main_form">{% csrf_token %}
    <table>
      <thead>
        <tr>
          <th rowspan="1" style="border: none" class="no-bg"></th>
          <th rowspan="1">Mã số hộ</th>
          <th rowspan="1">TDP</th>
          <th rowspan="1">Tên chủ hộ</th>
          <th rowspan="1">Ngày sinh</th>
          <th rowspan="1">G.tính</th>
          <th rowspan="1">Địa chỉ</th>
          <th rowspan="1">Số ĐT</th>
          <th rowspan="1">TT.Cư trú</th>
          <th rowspan="1">Hộ nghèo</th>
          <th rowspan="1">Hộ CS</th>
          <th rowspan="1">Hộ BTXH</th>
        </tr>
      </thead>
      <tbody>
        <tr style="border: none">
          <td colspan="17" style="border: none"></td>
        </tr>
        {% for ho in hogiadinh %}
        <tr>
          <td style="border: none" class="no-bg">
          	<input type="checkbox" value="{{ho.id}}" class="checkbox" name="masoho"/>
          </td>
          <td class="masoho thongtinhogiadinh">{{ho.masoho}}</td>
          <td class="thongtinhogiadinh">{{ho.todanpho}}</td>
          <td class="thongtinhogiadinh">{{ho.tenchuho}}</td>
          <td class="thongtinhogiadinh">{{ho.ngaysinh}}</td>
          <td class="thongtinhogiadinh">{{ho.gioitinh}}</td>
          <td class="thongtinhogiadinh">{{ho.sonha}}</td>
          <td class="thongtinhogiadinh">{{ho.sodienthoai}}</td>
          <td class="thongtinhogiadinh">{{ho.tinhtrangcutru}}</td>
          <td class="thongtinhogiadinh">{{ ho.thuochongheo }}</td>
          <td class="thongtinhogiadinh"><input type="checkbox" {%if ho.thuochochinhsach %} checked="checked" {% endif %} disabled="disabled"/></td>
          <td class="thongtinhogiadinh"><input type="checkbox" {%if ho.thuocdoituongbaotro %} checked="checked" {% endif %} disabled="disabled"/></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    </form>
    <div class="pagination">
        <span class="step-links">
            {% if hogiadinh.has_previous %}
                <a href="?page={{ hogiadinh.previous_page_number }}{{search}}" class="previous_page"></a>
            {% endif %}
            {% if hogiadinh.number|previous_three_page > 0 %}
              <span style="float: left; margin-right: 4px;">...</span>
            {% endif %}
            {% for page in hogiadinh.paginator.page_range %}
              {% if page > hogiadinh.number|previous_three_page and page < hogiadinh.number|next_three_page %}
              <a href="?page={{ page }}{{search}}" {% if page == hogiadinh.number %}class="currentPage" {% endif %}>{{ page }}</a>
              {% endif %}
            {% endfor %}
            {% if hogiadinh.number|next_three_page <=  hogiadinh.paginator.num_pages %}
              <span style="float: left; margin-right: 4px;">...</span>
            {% endif %}
            {% if hogiadinh.has_next %}
                <a href="?page={{ hogiadinh.next_page_number }}{{search}}" class="next_page"></a>
            {% endif %}
        </span>
    </div>
  </div>
  <div class="container notes">
		<div class="span6 header">
			*Chú thích
		</div>
		<div class="span9 note">
			<span class="span8">
				<span class="span3 field">(GCN QSDĐ)</span><span class="span9">Giấy chứng nhận quyền sở hữu đất</span>
				<span class="span3 field">(Ng.sinh)</span><span class="span9">Ngày sinh</span>
				<span class="span3 field">(G.tinh)</span><span class="span9">Giới tính</span>
				<span class="span3 field">(Qh với c.h)</span><span class="span9">Quan hệ với chủ hộ</span>
				<span class="span3 field">(BĐXN)</span><span class="span9">Bộ đội xuất ngũ</span>
				<span class="span3 field">(BTXH)</span><span class="span9">Bảo trợ xã hội</span>
			</span>
			<span class="span4">
				<span class="span4 field">(CS)</span><span class="span8">Chính sách</span>
				<span class="span4 field">(XT)</span><span class="span8">Xe thồ</span>
				<span class="span4 field">(KT)</span><span class="span8">Khuyết tật</span>
				<span class="span4 field">(BH)</span><span class="span8">Bảo hiểm</span>
				<span class="span4 field">(Ch.môn)</span><span class="span8">Chuyên môn</span>
				<span class="span4 field">(TNHN)</span><span class="span8">Tình trạng hôn nhân</span>
			</span>
		</div>
	</div>
</div>
<div id="familyModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<form action="." method="post">{% csrf_token %}
		<input type="hidden" name="user_id" id="user_id"/>
	  <div class="modal-header">
	    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
	    <h3 id="myModalLabel">Xóa hộ gia đình</h3>
	  </div>
	  <div class="modal-body">
	    <p>Bạn có muốn xóa hộ gia đình này không?</p>
	  </div>
	  <div class="modal-footer">
	    <button class="btn" data-dismiss="modal" aria-hidden="true">Không đồng ý</button>
	    <button type="button" value="delete" class="btn btn-primary" id="btn_delete">Đồng ý</button>
	  </div>
  </form>
</div>
<script type="text/javascript">
  $(function() {
    tags = new Array();
    {% for ho in masoho %}
      tags.push('{{ho}}');
    {% endfor %}
    $( "#search_masoho" ).autocomplete({
      source: tags
    });
  });
  $(document).ready(function(){
    $('.checkbox').click(function(){
      if($(this).is(':checked')){
        $(this).parent().parent('tr').css('background-color', '#fff9c7');
      }
      else{
        $(this).parent().parent('tr').css('background-color', '#ffffff');
      }
      displayButton();
    });
    $('.thongtinhogiadinh').click(function(){
      masoho = $(this).parent('tr').children('.masoho').text();
      document.location.href = '/hogiadinh/' + masoho;
    });
    $('.checkboxAll').click(function(){
      if($('.checkboxAll').is(':checked')){
        $('.checkbox').each(function(){
          $(this).prop('checked', true);
          $(this).parent().parent('tr').css('background-color', '#fff9c7');
        });
      }
      else{
        $('.checkbox').each(function(){
          $(this).removeAttr('checked');
          $(this).parent().parent('tr').css('background-color', '#ffffff');
        });
      }
      displayButton();
    });
    $('#btn_delete').click(function() {
	  	$('#main_form').submit()
	  })
  });
  function numChecked(){
    numCheck = 0;
    $('.checkbox').each(function(){
      if($(this).is(':checked')){
        numCheck = numCheck + 1;
      }
    });
    return numCheck;
  }
  function setLinkEdit(){
    $('.checkbox').each(function(){
      if($(this).is(':checked')){
        link = '/suahogiadinh/' + $(this).parent().parent('tr').children('.masoho').text();
        $('.btn-edit').attr('href',link);
      }
    });
  }
  function displayButton(){
    var numcheck = numChecked();
    if(numcheck == 1 ){
      $('.btn-edit span').show();
      $('.virtual-edit').hide();
      setLinkEdit();
    }
    else{
      $('.btn-edit span').hide();
      $('.virtual-edit').show();
    }
    
    if(numcheck > 0 ){
      $('.btn-delete').show();
      $('.virtual-delete').hide();
    }
    else{
      $('.btn-delete').hide();
      $('.virtual-delete').show();
    }
  }
</script>
{% endblock %}
