{% extends "base.html" %}
{% block style_extend %}
<style type="text/css">
    input[type='text']{
      height: 27px;
      margin: 0;
    }
  </style>
{% endblock %}
{% block content %}
<form action="" method="post">{% csrf_token %}
{{ form.email.errors }}
<p><label for="id_email">Địa chỉ email:</label> {{ form.email }} <input class="btn btn-primary" type="submit" value="Lấy lại mật khẩu" /></p>
</form>
{% endblock %}