{% extends "base.html" %}
{% block style_extend %}
  <style type="text/css">
    #loginbox form input::-webkit-input-placeholder { /* WebKit browsers */
    color:    #696969;
    }
    #loginbox form input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
        color:    #696969;
    }
    #loginbox form input::-moz-placeholder { /* Mozilla Firefox 19+ */
        color:    #696969;
    }
    #loginbox form input:-ms-input-placeholder { /* Internet Explorer 10+ */
        color:    #696969;
    }
    #loginbox{
      border: 1px solid #cccccc;
      width: 750px;
      background: url('../media/images/dang-nhap-off_07.png') no-repeat -1px -1px;
      min-height: 198px;
      margin-bottom: 60px;
    }
    #loginbox form{
      margin: 110px 0;
    }
    #loginbox form p.error{
      color: red;
      margin-left: 220px;
    }
    #loginbox form input{
      font-family: 'tahoma', sans-serif;
      font-size: 14px;
      color: #696969;
      height: 35px;
      width: 435px;
      border: 1px solid #ababab;
    }
    .form-horizontal .controls{
      margin-left: 220px;
    }
    #loginbox form .checkbox{
      font-family: 'tahoma', sans-serif;
      font-size: 18px;
      color: #777777;
      display: inline-block;
    }
    #loginbox form .radio input[type="radio"], #loginbox form .checkbox input[type="checkbox"]{
      width: 26px;
      height: 15px;
    }
    #loginbox form a{
      float: right;
      margin-right: 86px;
      font-family: 'tahoma', sans-serif;
      font-style: italic;
      font-size: 18px;
      color: #0f77b9;
    }
    #loginbox form button{
      font-family: 'tahoma', sans-serif;
      font-size: 18px;
      color: #383838;
      text-shadow: 1px 1px #ffffff;
      width: 436px;
      line-height: 30px;
      background: url('../media/images/dang-nhap-off.png') repeat-x center;
    }
    #loginbox form button:hover{
      background: url('../media/images/dang-nhap-on.png') repeat-x center;
      color: #00336c;
    }
  </style>
{% endblock %}
{% block content %}
  <div class="span12">

    <div id="loginbox" class="container">
      <form class="form-horizontal" action="" method="post">
        {% csrf_token %} {# enctype="multipart/form-data" #}{# Please ignore the csrf_token at the moment #} 
        {% if error %}
        <p class="error">{{error}}</p>
        {% endif %}
        <div class="control-group">
          <div class="controls">
            <input type="text" id="id_username" name="username" placeholder="Tên đăng nhập*">
          </div>
        </div>
        <div class="control-group">
          <div class="controls">
            <input type="password" id="id_password" name="password" placeholder="Mật khẩu*">
          </div>
        </div>
        <div class="control-group">
          <div class="controls">
            <button type="submit" class="btn">Đăng nhập</button>
          </div>
        </div>
        <div class="control-group">
          <div class="controls">
            <label class="checkbox">
              <input type="checkbox" name="remember_me"> Ghi nhớ
            </label>
            <a href="/laylaimatkhau">Quên mật khẩu?</a>
          </div>
        </div>
      </form>
    </div>

  </div>
{% endblock %}