{% extends "base.html" %}
{% block style_extend %}
<style type="text/css">
  #upload ul{
    list-style: none;
    margin: 0;
    margin-bottom: 10px;
  }
  #upload h4{
    font-family: 'tahoma', sans-serif;
    font-weight: normal;
    margin: 0;
  }
</style>
{% endblock %}
{% block content %}
{% if user.is_superuser %}
<div id="upload">
  <div class="row-fluid">
      <ul>
        <li><h4>Nhập tập tin Excel hộ gia đình:</h4></li>
        <li style="color: red">{{hogiadinh_message}}</li>
      </ul>
      <form action="/nhapxls/hogiadinh" method="post" enctype="multipart/form-data">{% csrf_token %}
      {{form.hogiadinh_file}}
      <input type="submit" value="Xác nhận" class="btn btn-primary" style="margin-top: -5px"/>
      </form>
      <ul>
        <li><h4>Nhập tập tin Excel thành viên:</h4></li>
        <li style="color: red">{{thanhvien_message}}</li>
      </ul>
      <form action="/nhapxls/thanhvien" method="post" enctype="multipart/form-data">{% csrf_token %}
      {{form.thanhvien_file}}
      <input type="submit" value="Xác nhận" class="btn btn-primary" style="margin-top: -5px"/>
      </form>
  </div>
</div>
{% endif %}
{% endblock %}
