{% extends "base.html" %}height: 30px;
			width: 400px
		}
{% block style_extend %}
	<script>
	  $(function () {
	    $('#permissionTab a').click(function (e) {
			  e.preventDefault();
			  $(this).tab('show');
			})
			$('#id_password').removeAttr('type')
			$('#id_password').attr({'type':'password'})
			$('#id_re_password').removeAttr('type')
			$('#id_re_password').attr({'type':'password'})
			$('.delete').click(function() {
				id = $(this).parent().attr('user_id')
				$('#user_id').val(id)
				$('#userModal').modal();
			})
	  })
	</script>
	<style type="text/css">
		input[type="text"], input[type="password"] {
			height: 30px;
			width: 400px
		}
	</style>
{% endblock %}
{% block content %}
<div style="margin-bottom: 30px" class="member_table">
	<form action="" method="post" class="form-horizontal">{% csrf_token %}
		<fieldset>
			<legend>
				Thông tin người dùng
			</legend>
			{% for field in form %}
			<div class="control-group">
				<label class="control-label">{{ field.label_tag }}</label>
				<div class="controls">
					{{ field }}{{field.errors}}
				</div>
			</div>
			{% endfor %}
			<div class="form-actions">
				<button type="submit" class="btn btn-primary">
					Cập nhập
				</button>
			</div>
		</fieldset>
	</form>
	<table >
		<thead>
			<tr>
				<th rowspan="1">Tên người dùng</th>
				<th rowspan="1">Tên đăng nhập</th>
				<th rowspan="1">Phân quyền</th>
				<th rowspan="1">Thao tác</th>
			</tr>
		</thead>
		<tbody>
			<tr style="border: none">
				<td colspan="17" style="border: none"></td>
			</tr>
			{% for user in users %}
				{% if user.username != 'admin' %}
				<tr>
					<td>{{user.get_profile.tennguoidung}}</td>
					<td>{{user.username}}</td>
					<td>{{user.get_profile.phanquyen.tenquyen}}</td>
					<td user_id="{{user.get_profile.id}}">
						<a href="/nguoidung/{{user.get_profile.id}}" class="btn btn-primary">Chỉnh sửa</a>
						<button type="button" class="btn btn-danger delete">
							Xóa
						</button>
					</td>
				</tr>
				{% endif %}
			{% endfor %}
		</tbody>
	</table>
</div>

<div id="userModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<form action="." method="post">{% csrf_token %}
		<input type="hidden" name="user_id" id="user_id"/>
	  <div class="modal-header">
	    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
	    <h3 id="myModalLabel">Xóa người dùng</h3>
	  </div>
	  <div class="modal-body">
	    <p>Bạn có muốn xóa người dùng này không?</p>
	  </div>
	  <div class="modal-footer">
	    <button class="btn" data-dismiss="modal" aria-hidden="true">Không đồng ý</button>
	    <button type="submit" value="delete" class="btn btn-primary">Đồng ý</button>
	  </div>
  </form>
</div>
{% endblock %}