{% extends "base.html" %}
{% block style_extend %}
	<script>
	  $(function () {
	    $('#permissionTab a').click(function (e) {
			  e.preventDefault();
			  $(this).tab('show');
			})
			$('#id_password').removeAttr('type')
			$('#id_password').attr({'type':'password'})
			$('#id_re_password').removeAttr('type')
			$('#id_re_password').attr({'type':'password'})
			$('.delete').click(function() {
				id = $(this).parent().attr('per_id')
				$('#per_id').val(id)
				$('#perModal').modal();
			})
			
	  })
	</script>
	<style type="text/css">
		input[type="text"], input[type="password"] {
			height: 30px;
			width: 400px
		}
		.controls {
			width: 500px
		}
		.controls ul li {
			display: inline-block;
			margin-right: 10px
		}
		.form-horizontal .controls input[type='checkbox']{
			margin-top: -6px;
		}
		ul.permision_list {
			text-align: left
		}
		ul.permision_list li{
			display: inline-block;
			margin-right: 10px
		}
		ul.permision_list li input[type='checkbox']{
			margin-top: -6px;
		}
	</style>
{% endblock %}
{% block content %}
<div style="margin-bottom: 30px" class="member_table">
	<form action="" method="post" class="form-horizontal">{% csrf_token %}
		<fieldset>
			<legend>
				Thông tin phân quyền
			</legend>
			{% for field in form %}
			<div class="control-group">
				<label class="control-label">{{ field.label_tag }}</label>
				<div class="controls">
					{{ field }}{{field.errors}}
				</div>
			</div>
			{% endfor %}
			<div class="form-actions">
				<button type="submit" class="btn btn-primary">
					Cập nhập
				</button>
				<a href="/phanquyen" class="btn btn-danger">Hủy</a>
			</div>
		</fieldset>
	</form>
	<table>
		<thead>
			<tr>
				<th rowspan="1">Tên phân quyền</th>
				<th rowspan="1" style="width: 70%">Danh sách các trường chỉnh sửa</th>
				<th rowspan="1">Thao tác</th>
			</tr>
		</thead>
		<tbody>
			<tr style="border: none">
				<td colspan="17" style="border: none"></td>
			</tr>
			{% for quyen in phanquyen %}
				{% if quyen.tenquyen != 'Admin' %}
				<tr>
					<td>{{quyen.tenquyen}}</td>
					<td>
						<ul class="permision_list">
							{% for field in per_fields %}
								<li>
								{% if field.0 in quyen.truongchinhsua %} 
									<input type="checkbox" checked="selected" disabled="disabled"/>{{field.1}} 
								{% else %}
									<input type="checkbox" disabled="disabled"/>{{field.1}}
								{% endif %}
								</li>
							{% endfor %}
						</ul>
					</td>
					<td per_id="{{quyen.id}}">
						<a href="/phanquyen/{{quyen.id}}" class="btn btn-primary">Chỉnh sửa</a>
						<button type="button" class="btn btn-danger delete">
							Xóa
						</button>
					</td>
				</tr>
				{% endif %}
			{% endfor %}
		</tbody>
	</table>
</div>

<div id="perModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<form action="." method="post">{% csrf_token %}
		<input type="hidden" name="per_id" id="per_id"/>
	  <div class="modal-header">
	    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
	    <h3 id="myModalLabel">Xóa phân quyền</h3>
	  </div>
	  <div class="modal-body">
	    <p>Bạn có muốn xóa quyền này không?</p>
	  </div>
	  <div class="modal-footer">
	    <button class="btn" data-dismiss="modal" aria-hidden="true">Không đồng ý</button>
	    <button type="submit" value="delete" class="btn btn-primary">Đồng ý</button>
	  </div>
  </form>
</div>
{% endblock %}