{% extends "base.html" %}
{% block style_extend %}
<style type="text/css">
  input[type="text"] {
    height: 30px;
    width: 400px
  }
  .form-horizontal .control-label {
    width: 300px
  }
  .form-horizontal .controls{
    margin-left: 320px
  }
  .form-horizontal .form-actions {
    padding-left: 320px
  }
  ul.errorlist {
    list-style: none;
  }
  ul.errorlist li{
    color: red
  }
  ul{
    list-style: none;
    margin: 5px 0px 0px 0px;
  }
  .form-horizontal .controls ul li {
    display: inline-block;
  }
  .form-horizontal .controls input[type='checkbox']{
    margin-top: 8px;
  }
  .form-horizontal .controls ul li input[type='radio'] {
    margin-top: -6px;
  }
</style>
<script type="text/javascript">
  $(document).ready(function(){
    $('#id_ngaysinh').datepicker()
  });
</script>
{% endblock %}
{% block content %}
  <div id="themhogiadinh">
    <form action="" method="post" class="form-horizontal"> {% csrf_token %}
      <fieldset>
        <legend>Sửa thông tin thành viên hộ gia đình</legend>
        {% for field in form_thanhvien %}
        <div class="control-group">
          <label class="control-label">{{ field.label_tag }}</label>
          
          <div class="controls">
            {{ field }}{{field.errors}}
          </div>
        </div>
        {% endfor %}
        <div class="form-actions">
           <button type="submit" class="btn btn-primary">Lưu lại</button>
        </div>
      </fieldset>
</form>
  </div>
{% endblock %}
