{% extends "base.html" %}
{% block style_extend %}
	<style type="text/css">
		ul.permision_list li input[type='checkbox']{
			margin-top: -4px;
			margin-right: 5px
		}
		ul.permision_list li {
			display: inline-block
		}
	</style>
{% endblock %}
{% block content %}
	<div id="hogiadinh">
		<div class="line1" style="margin-top: 20px">
			THÔNG TIN CHI TIẾT CỦA {{user.get_profile.tennguoidung|upper}}
		</div>
		<div class="container info">
			<div class="span12">
				<span class="span3 field">Tên người dùng:</span><span class="span9">{{user.get_profile.tennguoidung}}</span>
				<span class="span3 field">Tên đăng nhập:</span><span class="span9">{{user.username}}</span>
				<span class="span3 field">Phòng ban:</span><span class="span9">{{user.get_profile.phanquyen.tenquyen}}</span>
				<span class="span3 field">Trường được chỉnh sửa:</span>
				<span class="span9">
					<ul class="permision_list">
					{% for field in per_fields %}
								<li>
								{% if field.0 in truongchinhsua %} 
									<input type="checkbox" checked="selected" disabled="disabled"/>{{field.1}} 
								{% else %}
									<input type="checkbox" disabled="disabled"/>{{field.1}}
								{% endif %}
								</li>
					{% endfor %}
					</ul>
				</span>
			</div>
		</div>
{% endblock %}
