{% extends "base.html" %}
{% block style_extend %}
<style type="text/css">
  .form-horizontal .controls ul li {
    display: inline-block;
  }
  .form-horizontal .controls input[type='checkbox']{
    margin-top: 8px;
  }
  .form-horizontal .controls ul li input[type='radio'] {
    margin-top: -6px;
  }
  input[type="text"], input[type="password"] {
	height: 30px;
	width: 400px
}
</style>
<script type="text/javascript">
  $(document).ready(function(){
    $('#id_ngaysinh').datepicker({
      changeMonth: true,
      changeYear: true
    });
  });
</script>
{% endblock %}
{% block content %}
  <div id="themthanhvien">
    <form action="" method="post" class="form-horizontal"> {% csrf_token %}
      <fieldset>
        <legend>Thêm một thành viên trong hộ gia đình</legend>
        {% for field in form %}
        <div class="control-group">
          <label class="control-label">{{ field.label_tag }}</label>
          
          <div class="controls">
            {{ field }}{{field.errors}}
          </div>
        </div>
        {% endfor %}
        <div class="form-actions">
           <button type="submit" class="btn btn-primary">Tạo mới</button>
        </div>
      </fieldset>
		</form>
  </div>
{% endblock %}
