{% extends "base.html" %}
{% load xuanha_tag %}
{% block style_extend %}
  <style type="text/css">
    #searchBox{
      margin-bottom: 40px;
    }
    #searchBox h1{
      font-family: 'tahoma', sans-serif;
      font-size: 24px;
      color: #969696;
      text-align: center;
      margin:auto;
      font-weight: normal;
    }

    #searchBox select{
      width: 240px;
      height: 32px;
    }
    #searchBox form{
      clear: both;
    }
    #searchBox form .control-group{
      float: left;
    }
    #searchBox form .control-group input{
      font-family: 'tahoma', sans-serif;
      font-size: 14px;
      color: #696969;
      height: 32px;
      width: 240px;
      float: left;
    }
    #searchBox form .control-group input[type='checkbox'], #searchBox form .control-group input[type='radio']{
      height: 13px;
      width: 21px;
    }
    .ui-helper-hidden-accessible{
      display: none;
    }
    
    #searchBox form .control-group label {
        width: 160px;
        margin-bottom: 0;
    }
    #searchBox .form-horizontal .controls {
        margin-left: 180px;
    }
    #searchBox div, #searchBox span {
      margin-left: 0px
    }
    #searchHogiadinh{
      margin-top: 20px;
    }
    .sorter{
      clear: both;
      height: 35px;
    }
    .sort-by{
      float: right;
    }
    #searchBox .sorter .sort-by select{
      width: 100px;
    }
    input[type='checkbox'] {
    	margin-top: 8px
    }
    #searchHogiadinh .button{
      float: right;
      margin-left: 10px;
    }
  </style>
{% endblock %}
{% block content %}
  <div class="span12">  
    <div id="searchBox" class="container">
      <h1>Tìm kiếm thông tin hộ đình</h1>
      <div id="searchHogiadinh" class="formSearch">
        <form class="form-horizontal" action="/timkiemhogiadinh/" method="get">
          {% csrf_token %} {# enctype="multipart/form-data" #}{# Please ignore the csrf_token at the moment #}
          <div class="control-group">
            <label class="control-label">{{form_ho.masoho.label_tag}}</label>
            <div class="controls">
              {{form_ho.masoho}}
            </div>
          </div>
          <div class="control-group">
            <label class="control-label">{{form_ho.todanpho.label_tag}}</label>
            <div class="controls">
             {{form_ho.todanpho}}
            </div>
          </div>
          <div class="control-group">
            <label class="control-label">{{form_ho.tinhtrangcutru.label_tag}}</label>
            <div class="controls">
              {{form_ho.tinhtrangcutru}}
            </div>
          </div>
          <div class="control-group">
          	<label class="control-label">{{form_ho.thuochongheo.label_tag}}</label>
            <div class="controls">
                {{form_ho.thuochongheo}} 
            </div>
          </div>
          <div class="control-group" style="width: 420px">
            <label class="control-label">{{form_ho.thuochochinhsach.label_tag}}</label>
            <div class="controls">
              {{form_ho.thuochochinhsach}}
            </div>
          </div>
          <div class="control-group" class="span6">
            <label class="control-label">{{form_ho.thuochobaotro.label_tag}}</label>
            <div class="controls">
              {{form_ho.thuochobaotro}}
            </div>
          </div>
          
          <div style="text-align: center; clear: both">
            <button type="submit" class="btn btn-primary">Tìm</button>
          </div>
        </form>
        <div class="sorter">
          <a href="/xuattimkiemhogiadinh"><span class="button"><div class="print">In</div></span></a>
          <div class="sort-by">
            <select>
              <option value="">--------</option>
              <option value="tdp" {% if orderby == '&orderby=tdp' %}selected="selected"{% endif %}>TDP</option>
            </select>
          </div>
        </div>
        <div class="member_table">
          <table>
			      <thead>
			        <tr>
			          <th rowspan="1" style="border: none" class="no-bg"></th>
			          <th rowspan="1">Mã số hộ</th>
			          <th rowspan="1">TDP</th>
			          <th rowspan="1">Tên chủ hộ</th>
			          <th rowspan="1">Ngày sinh</th>
			          <th rowspan="1">G.tính</th>
			          <th rowspan="1">Địa chỉ</th>
			          <th rowspan="1">Số ĐT</th>
			          <th rowspan="1">TT.Cư trú</th>
			          <th rowspan="1">Hộ nghèo</th>
			          <th rowspan="1">Hộ CS</th>
			          <th rowspan="1">Hộ BTXH</th>
			        </tr>
			      </thead>
			      <tbody>
			        <tr style="border: none">
			          <td colspan="17" style="border: none"></td>
			        </tr>
			        {% for ho in hogiadinh %}
			        <tr>
			          <td style="border: none" class="no-bg">
			          	<input type="checkbox" value="{{ho.id}}" class="checkbox" name="masoho"/>
			          </td>
			          <td class="masoho thongtinhogiadinh">{{ho.masoho}}</td>
			          <td class="thongtinhogiadinh">{{ho.todanpho}}</td>
			          <td class="thongtinhogiadinh">{{ho.tenchuho}}</td>
			          <td class="thongtinhogiadinh">{{ho.ngaysinh}}</td>
			          <td class="thongtinhogiadinh">{{ho.gioitinh}}</td>
			          <td class="thongtinhogiadinh">{{ho.sonha}}</td>
			          <td class="thongtinhogiadinh">{{ho.sodienthoai}}</td>
			          <td class="thongtinhogiadinh">{{ho.tinhtrangcutru}}</td>
			          <td class="thongtinhogiadinh">{{ ho.thuochongheo }}</td>
			          <td class="thongtinhogiadinh"><input type="checkbox" {%if ho.thuochochinhsach %} checked="checked" {% endif %} disabled="disabled"/></td>
			          <td class="thongtinhogiadinh"><input type="checkbox" {%if ho.thuocdoituongbaotro %} checked="checked" {% endif %} disabled="disabled"/></td>
			        </tr>
			        {% endfor %}
			      </tbody>
			    </table>
        </div>
     </div>
     <p>{{message}}</p>
     <div class="pagination">
        <span class="step-links">
            {% if hogiadinh.has_previous %}
                <a href="?page={{ hogiadinh.previous_page_number }}{{search}}{{orderby}}" class="previous_page"></a>
            {% endif %}
            {% if hogiadinh.number|previous_three_page > 0 %}
              <span style="float: left; margin-right: 4px;">...</span>
            {% endif %}
            {% for page in hogiadinh.paginator.page_range %}
              {% if page > hogiadinh.number|previous_three_page and page < hogiadinh.number|next_three_page %}
              <a href="?page={{ page }}{{search}}{{orderby}}" {% if page == hogiadinh.number %}class="currentPage" {% endif %}>{{ page }}</a>
              {% endif %}
            {% endfor %}
            {% if hogiadinh.number|next_three_page <=  hogiadinh.paginator.num_pages %}
              <span style="float: left; margin-right: 4px;">...</span>
            {% endif %}
            {% if hogiadinh.has_next %}
                <a href="?page={{ hogiadinh.next_page_number }}{{search}}{{orderby}}" class="next_page"></a>
            {% endif %}
        </span>
    </div>
     <div class="container notes">
        <div class="span6 header">
          *Chú thích
        </div>
        <div class="span6"></div>
        <div class="span9 note">
          <span class="span8">
            <span class="span3 field">(GCN QSDĐ)</span><span class="span9">Giấy chứng nhận quyền sở hữu đất</span>
            <span class="span3 field">(Ng.sinh)</span><span class="span9">Ngày sinh</span>
            <span class="span3 field">(G.tinh)</span><span class="span9">Giới tính</span>
            <span class="span3 field">(Qh với c.h)</span><span class="span9">Quan hệ với chủ hộ</span>
            <span class="span3 field">(BĐXN)</span><span class="span9">Bộ đội xuất ngũ</span>
            <span class="span3 field">(BTXH)</span><span class="span9">Bảo trợ xã hội</span>
          </span>
          <span class="span4">
            <span class="span4 field">(CS)</span><span class="span8">Chính sách</span>
            <span class="span4 field">(XT)</span><span class="span8">Xe thồ</span>
            <span class="span4 field">(KT)</span><span class="span8">Khuyết tật</span>
            <span class="span4 field">(BH)</span><span class="span8">Bảo hiểm</span>
            <span class="span4 field">(Ch.môn)</span><span class="span8">Chuyên môn</span>
            <span class="span4 field">(TNHN)</span><span class="span8">Tình trạng hôn nhân</span>
          </span>
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript">
    $(function() {
      tags = new Array();
      {% for ho in hogiadinhList %}
        tags.push('{{ho}}');
      {% endfor %}
      $( "input[name='masoho']" ).autocomplete({
        source: tags
      });
    });
    $(document).ready(function(){
      $('.thongtinhogiadinh').click(function(){
        masoho = $(this).parent('tr').children('.masoho').text();
        document.location.href = '/hogiadinh/' + masoho;
      });
      $('select option').each(function(){
        if($(this).attr('selected')=='selected'){
          $(this).prop('selected', true);
        }
      });
      $('.sort-by select').change(function(){
        url = '/timkiemhogiadinh/?page={{hogiadinh.number}}&orderby='+this.value+'{{search}}';
        window.location.href = url;
      });
    });
  </script>
{% endblock %}