{% extends "base.html" %}
{% load xuanha_tag %}
{% block style_extend %}
  <style type="text/css">
    #searchBox{
      margin-bottom: 40px;
    }
    #searchBox h1{
      font-family: 'tahoma', sans-serif;
      font-size: 24px;
      color: #969696;
      text-align: center;
      margin:auto;
      font-weight: normal;
    }
    
    #selectChoice{
      margin: 20px 0;
    }
    #searchBox select{
      width: 240px;
      height: 32px;
    }
    #searchBox form{
      clear: both;
    }
    #searchBox form .control-group{
      float: left;
    }
    #searchBox form .control-group input{
      font-family: 'tahoma', sans-serif;
      font-size: 14px;
      color: #696969;
      height: 32px;
      width: 240px;
      float: left;
    }
    #searchBox form .control-group input[type='checkbox'], #searchBox form .control-group input[type='radio']{
      height: 13px;
      width: 21px;
    }
    .ui-helper-hidden-accessible{
      display: none;
    }
    
    #searchBox form .control-group label {
        width: 160px;
        margin-bottom: 0;
    }
    #searchBox .form-horizontal .controls {
        margin-left: 180px;
    }
    #searchBox div, #searchBox span {
      margin-left: 0px
    }
    #searchThanhvien{
      margin-top: 20px;
    }
    .sorter{
      clear: both;
      height: 35px;
    }
    .sort-by{
      float: right;
    }
    #searchBox .sorter .sort-by select{
      width: 100px;
    }
    #searchbox form .control-group .age input {
    	width: 110px;
    	margin-right: 20px
    }
    #searchbox form .control-group .mul select {
    	height: 100px
    }
    #searchThanhvien .button{
      float: right;
      margin-left: 10px;
    }
  </style>
{% endblock %}
{% block content %}
  <div class="span12">  
    <div id="searchBox" class="container">
      <h1>Tìm kiếm thông tin thành viên trong hộ gia đình</h1>
     <div id="searchThanhvien" class="formSearch">
        <form class="form-horizontal" action="/timkiemthanhvien/" method="post">
          {% csrf_token %} {# enctype="multipart/form-data" #}{# Please ignore the csrf_token at the moment #} 
          <div class="span6">
          	<div class="control-group">
	            <label class="control-label">{{form_thanhvien.hotenthanhvien.label_tag}}</label>
	            <div class="controls">
	              {{form_thanhvien.hotenthanhvien}}
	            </div>
	          </div>
	          <div class="control-group">
	            <label class="control-label">{{form_thanhvien.todanpho.label_tag}}</label>
	            <div class="controls">
	              {{form_thanhvien.todanpho}}
	            </div>
	          </div>
	          <div class="control-group">
	            <label class="control-label">{{form_thanhvien.thuocdoituongbaotro.label_tag}}</label>
	            <div class="controls mul">
	              {{form_thanhvien.thuocdoituongbaotro}}
	            </div>
	          </div>
	          <div class="control-group">
	            <label class="control-label">{{form_thanhvien.thuocdoituongkhuyetat.label_tag}}</label>
	            <div class="controls">
	              {{form_thanhvien.thuocdoituongkhuyetat}}
	            </div>
	          </div>
	          <div class="control-group">
	            <label class="control-label">{{form_thanhvien.start_age.label_tag}}</label>
	            <div class="controls age">
	              {{form_thanhvien.start_age}}{{form_thanhvien.end_age}}
	            </div>
	          </div>
	          <div class="control-group">
	            <label class="control-label">{{form_thanhvien.baohiem.label_tag}}</label>
	            <div class="controls">
	              {{form_thanhvien.baohiem}}
	            </div>
	          </div>
          </div>
          <div class="span6">
	          <div class="control-group">
	            <label class="control-label">{{form_thanhvien.masoho.label_tag}}</label>
	            <div class="controls">
	              {{form_thanhvien.masoho}}
	            </div>
	          </div>
	          <div class="control-group">
	            <label class="control-label">{{form_thanhvien.thuocdoituongchinhsach.label_tag}}</label>
	            <div class="controls mul">
	              {{form_thanhvien.thuocdoituongchinhsach}}
	            </div>
	          </div>
	          <div class="control-group">
	            <label class="control-label">{{form_thanhvien.tinhtrangcutru.label_tag}}</label>
	            <div class="controls">
	              {{form_thanhvien.tinhtrangcutru}}
	            </div>
	          </div>
	          <div class="control-group">
	          	 <label class="control-label">Trường hợp khác</label>
	            <div class="controls">
	              {{form_thanhvien.tuoi}}
	            </div>
	          </div>
	          <div class="control-group">
	            <label class="control-label">{{form_thanhvien.thuocdoituongxichlo.label_tag}}</label>
	            <div class="controls">
	              {{form_thanhvien.thuocdoituongxichlo}}
	            </div>
	          </div>
          </div>
          <div style="text-align: center; clear: both">
            <button type="submit" class="btn btn-primary">Tìm</button>
          </div>
        </form>
        <div class="sorter">
          <a href="/xuattimkiemthanhvien"><span class="button"><div class="print">In</div></span></a>
          <div class="sort-by">
            <select>
              <option value="">--------</option>
              <option value="tdp" {% if orderby == '&orderby=tdp' %}selected="selected"{% endif %}>TDP</option>
            </select>
          </div>
        </div>
        <div class="container member_table">
          <table>
						<thead>
							<tr>
							  <th rowspan="2" style="border: none" class="no-bg"></th>
								<th rowspan="2">Họ tên</th>
								<th rowspan="2">Ng.sinh</th>
								<th rowspan="2">G.Tính</th>
								<th rowspan="2">Số CMND</th>
								<th rowspan="2">Q.Quán</th>
								<th rowspan="2">Qh với c.h</th>
								<th rowspan="2">BĐXN</th>
								<th colspan="5">Đối tượng</th>
								<th rowspan="2">Trình độ</th>
								<th rowspan="2">Ch.môn</th>
								<th rowspan="2">TTHN</th>
								<th rowspan="2">Tôn giáo</th>
								<th rowspan="2">Dân tộc</th>
							</tr>
							<tr>
								<th>BTXH</th>
								<th>CS</th>
								<th>XT</th>
								<th>KT</th>
								<th>BH</th>
							</tr>
						</thead>
						<tr style="border: none">
							<td colspan="17" style="border: none"></td>
						</tr>
						{% for member in thanhvien %}
						<tr>
						  <td style="border: none" class="no-bg"><span style="display: none">{{member.id}}</span>
						  	<input type="checkbox" class="checkbox" name="member_id" value="{{member.id}}"/></td>
							<td>{{member.hotenthanhvien}}</td>
							<td>{{member.ngaysinh|date:"d/m/Y"}}</td>
							<td>{{member.gioitinh}}</td>
							<td>{{member.cmnd}}</td>
							<td>{{member.quequan}}</td>
							<td>{{member.quanhevoichuho}}</td>
							<td><input type="checkbox" disabled="disabled" {%if member.thuocdoituongbodoixuatngu %} checked="checked" {% endif %}/></td>
							<td align="left">
								<ul>
									{% for baotro in member.thuocdoituongbaotro_as_list%}
										{% if forloop.last %}
										{% else %}
											<li> <input type="checkbox" disabled="disabled" checked="checked" /> {{baotro}}</li>
										{% endif %}
									{% endfor %}
								</ul>
							</td>
							<td align="left">
								<ul>
									{% for chinhsach in member.thuocdoituongchinhsach_as_list%}
										{% if forloop.last %}
										{% else %}
											<li> <input type="checkbox" disabled="disabled" checked="checked" /> {{chinhsach}}</li>
										{% endif %}
									{% endfor %}
								</ul>
							</td>
							<td><input type="checkbox" disabled="disabled" {%if member.thuocdoituongxichlo %} checked="checked" {% endif %}/></td>
							<td>{{member.thuocdoituongkhuyetat}}</td>
							<td><input type="checkbox" disabled="disabled" {%if member.cobaohiem %} checked="checked" {% endif %}/></td>
							<td>{{member.trinhdo}}</td>
							<td>{{member.chuyenmon}}</td>
							<td>{{member.tinhtranghonnhan}}</td>
							<td>{{member.tongiao}}</td>
							<td>{{member.dantoc}}</td>
						</tr>
						{% endfor %}
					</table>
        </div>
     </div>
     <p>{{message}}</p>
     <div class="pagination">
        <span class="step-links">
            {% if thanhvien.has_previous %}
                <a href="?page={{ chuho.previous_page_number }}{{orderby}}" class="previous_page"></a>
            {% endif %}
            {% if thanhvien.number|previous_three_page > 0 %}
              <span style="float: left; margin-right: 4px;">...</span>
            {% endif %}
            {% for page in thanhvien.paginator.page_range %}
              {% if page > thanhvien.number|previous_three_page and page < thanhvien.number|next_three_page %}
              <a href="?page={{ page }}{{orderby}}" {% if page == thanhvien.number %}class="currentPage" {% endif %}>{{ page }}</a>
              {% endif %}
            {% endfor %}
            {% if thanhvien.number|next_three_page <=  thanhvien.paginator.num_pages %}
              <span style="float: left; margin-right: 4px;">...</span>
            {% endif %}
            {% if thanhvien.has_next %}
                <a href="?page={{ thanhvien.next_page_number }}{{orderby}}" class="next_page"></a>
            {% endif %}
        </span>
      </div>
     <div class="container notes">
        <div class="span6 header">
          *Chú thích
        </div>
        <div class="span6"></div>
        <div class="span9 note">
          <span class="span8">
            <span class="span3 field">(GCN QSDĐ)</span><span class="span9">Giấy chứng nhận quyền sở hữu đất</span>
            <span class="span3 field">(Ng.sinh)</span><span class="span9">Ngày sinh</span>
            <span class="span3 field">(G.tinh)</span><span class="span9">Giới tính</span>
            <span class="span3 field">(Qh với c.h)</span><span class="span9">Quan hệ với chủ hộ</span>
            <span class="span3 field">(BĐXN)</span><span class="span9">Bộ đội xuất ngũ</span>
            <span class="span3 field">(BTXH)</span><span class="span9">Bảo trợ xã hội</span>
          </span>
          <span class="span4">
            <span class="span4 field">(CS)</span><span class="span8">Chính sách</span>
            <span class="span4 field">(XT)</span><span class="span8">Xe thồ</span>
            <span class="span4 field">(KT)</span><span class="span8">Khuyết tật</span>
            <span class="span4 field">(BH)</span><span class="span8">Bảo hiểm</span>
            <span class="span4 field">(Ch.môn)</span><span class="span8">Chuyên môn</span>
            <span class="span4 field">(TNHN)</span><span class="span8">Tình trạng hôn nhân</span>
          </span>
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript">
    $(function() {
      tags = new Array();
      {% for ho in hogiadinhList %}
        tags.push('{{ho}}');
      {% endfor %}
      $( "input[name='masoho']" ).autocomplete({
        source: tags
      });
    });
    $(document).ready(function(){
      $('.thongtinhogiadinh').click(function(){
        masoho = $(this).parent('tr').children('.masoho').text();
        document.location.href = '/hogiadinh/' + masoho;
      });
      $('select option').each(function(){
        if($(this).attr('selected')=='selected'){
          $(this).prop('selected', true);
        }
      });
      $('.sort-by select').change(function(){
        url = '/timkiemthanhvien/?page={{thanhvien.number}}&orderby='+this.value;
        window.location.href = url;
      });
    });
  </script>
{% endblock %}